<div class="home-news">
    <img src="assets/aboutUs.png" alt=" News-Image">
     <div class="news-text">
        <h3>News</h3>
        <p style=" color:  #91ad41;  font-family: Playwrite NL, cursive; font-size: 15px;">Home / News</p>
     </div>
</div>
<div class="blogs">
    <div class="blog-left">
        <div class="blog-post">
            <img src="https://cs-oars-2.myshopify.com/cdn/shop/articles/14.jpg?v=1526526705" alt="Broad bean and goats' cheese bruschetta">
            <div class="sub-blog">
             <h2><a routerLink="/blogsection1">Broad bean and goats' cheese bruschetta</a></h2>
             <p>By <span  style="color: #91ad41;">Oars Admin </span>Apr 18, 2018</p>
             <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit...</p>
            </div>
         </div>
         <div class="blog-post">
             <img src="https://cs-oars-2.myshopify.com/cdn/shop/articles/13.jpg?v=1526526667" alt="Broad bean and goats' cheese bruschetta">
             <div class="sub-blog">
              <h2><a routerLink="/blogsection2">Reverse heart disease without meds</a></h2>
              <p>By <span  style="color: #91ad41;">Oars Admin </span>Apr 18, 2018</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit...</p>
             </div>
          </div>
          <div class="blog-post">
             <img src="https://cs-oars-2.myshopify.com/cdn/shop/articles/5.jpg?v=1526526744" alt="Broad bean and goats' cheese bruschetta">
             <div class="sub-blog">
              <h2><a routerLink="/blogsection3">Avocado Seeds- Superfoods For Your Health</a></h2>
              <p>By <span  style="color: #91ad41;">Oars Admin </span>Apr 18, 2018</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit...</p>
             </div>
          </div>
          <div class="blog-post">
             <img src="https://cs-oars-2.myshopify.com/cdn/shop/articles/12.jpg?v=1526526534" alt="Broad bean and goats' cheese bruschetta">
             <div class="sub-blog">
              <h2><a routerLink="/blogsection4">Seven herbs that lower blood pressure</a></h2>
              <p>By <span  style="color: #91ad41;">Oars Admin </span>Apr 18, 2018</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit...</p>
             </div>
          </div>
          <div class="blog-post">
             <img src="https://cs-oars-2.myshopify.com/cdn/shop/articles/11.jpg?v=1526526512" alt="Broad bean and goats' cheese bruschetta">
             <div class="sub-blog">
              <h2><a routerLink="/blogsection5">Seven herbs that lower blood pressure</a></h2>
              <p>By <span  style="color: #91ad41;">Oars Admin </span>Apr 18, 2018</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit...</p>
             </div>
          </div>
          <div class="blog-post">
             <img src="https://cs-oars-2.myshopify.com/cdn/shop/articles/10.jpg?v=1526526284" alt="Broad bean and goats' cheese bruschetta">
             <div class="sub-blog">
              <h2 ><a routerLink="/blogsection6">Cleansing the body of Parasites</a></h2>
              <p>By <span  style="color: #91ad41;">Oars Admin </span>Apr 18, 2018</p>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit...</p>
             </div>
          </div>
     </div>
    <aside class="side">
        <div class="side-right">
            <h2 class="category-title" style=" font-family:streamster, cursive;">Category</h2>
        <ul class="category-blog">
            <li><a href="VEGETABLES.html"> Vegetables </a></li>
            <li><a href="FRUITS.html"> Fruits </a></li>
            <li><a href="SMOOTHIE.html"> Smoothie </a></li>
            <li><a href="MEAT.html"> Meats </a></li>
            <li><a href="vege.html"> Teas </a></li>
            <li><a href="CAKES.html"> Cakes </a></li>
            <li><a href="SMOOTHIE.html"> Juices </a></li>
            <li><a href="TOP-VIEWS.html"> Top View </a></li>
            <li><a href="BEST-SELLER.html"> Best Seller </a></li>
            <li><a href="FRUITS.html"> All Category </a></li>
        </ul>
        </div>
       <div class="side-right">
        <h2 style=" color:#91ad41; padding-top: 15px;  font-family:streamster, cursive;">Recent Posts</h2>
        <div class="blog-post1">
            <img src="https://cs-oars-2.myshopify.com/cdn/shop/articles/14.jpg?v=1526526705" alt="Broad bean and goats' cheese bruschetta" width="150px" height="150px">
            <div class="sub-blog1">
             <h4><a routerLink="/blogsection1">Broad bean and goats' cheese bruschetta</a></h4>
             <p>May 09, 2018</p>
            </div>
         </div>
         <div class="blog-post1">
            <img src="https://cs-oars-2.myshopify.com/cdn/shop/articles/12.jpg?v=1526526534" alt="Seven herbs that lower blood pressure" width="150px" height="150px">
            <div class="sub-blog1">
             <h4><a routerLink="/blogsection4">Seven herbs that lower blood pressure</a></h4>
             <p>May 09, 2018</p>
            </div>
         </div>
         <div class="blog-post1">
            <img src="https://cs-oars-2.myshopify.com/cdn/shop/articles/10.jpg?v=1526526284" alt="Broad bean and goats' cheese bruschetta" width="150px" height="150px">
            <div class="sub-blog1">
             <h4><a routerLink="/blogsection6">Cleansing the body of Parasites</a></h4>
             <p>May 09, 2018</p>
            </div>
         </div>
         <div class="blog-ads">
            <img src="//cs-oars-2.myshopify.com/cdn/shop/files/oar1-banner-ads_6af78583-89e2-4d35-9807-d11b94ec8b30_345x.png?v=1655701585" alt="ADS"  >
         </div>
       </div>
    </aside>
</div>
<router-outlet/>
