<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<div class="contact">

    <img class="contact-image" src="https://cs-oars-1.myshopify.com/cdn/shop/files/Contact_Us_720x.jpg?v=1613681337" alt="image">
        <div class="box-right">
            <p class="box-subtitle">Contact Form</p>
            <h2 class="box-title">Get in touch with us</h2>
            <div class="box-subtext">
                Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
            </div>
        <form action="contactus.html">

                <input type="text" class="input-contact" placeholder="Name">
                <br>
                <input type="email" class="input-contact" placeholder="Email">
                <br>
                <input type="text" class="input-contact" placeholder="Phone Number">
                <br>
                <input type="text" class="input-contact" placeholder="Your message">
                <br>
                <button class="send">Send</button>
        </form>
    </div>
    </div>
    <section class="newsletter">
        <div class="newsletter-container">
            <div class="newsletter-content">
                <h2>Subscribe Newsletter</h2>
            </div>
            <div class="newsletter-form">
                <input type="email" placeholder="Your email">
                <button type="submit">SUBSCRIBE</button>
            </div>
            <p class="newsletter-message"></p>
        </div>
      </section>