<div class="aboutUs">
    <div class="container-fluid" style="background-image: url('assets/bkg-breadcrumbs.png');">
        <h1 id="homeAbout">About Us</h1>
        <p>Home / About Us</p>
    </div>
</div>


<!-- <div class="container-section3">
<div style="overflow: hidden;">
    <h2  class="fon"> About Us </h2>
    <br>
    <h1 class="who" style="font-family: Arial, Helvetica, sans-serif;"> Who we are  </h1>
    <br>
    <p id="main-p">Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

  <div class="home-row">
      <div class="col">
          <img src="assets/11.png" width="150" ;height="150" alt="Placeholder Image">
          <div>
              <h3 class="bacic">Natural Farm</h3>
              <p class="pp">Vegetables and fruits produced by natural agriculture are better in taste than those produced
                  by industrial agriculture.</p>
              </div>
      </div>
      <div class="col">
          <img src="assets/22.png" width="150" ;height="150" alt="Placeholder Image">
          <div>
              <h3 class="bacic">Healthy Food</h3>
              <p class="pp"> It provides the nutrients that our bodies need to function properly. Healthy food can help
                  us to maintain a healthy weight, reduce our risk of chronic diseases.</p>
              </div>
      </div>
      <div class="col">
          <img src="assets/33.png" width="170" ;height="170" alt="Placeholder Image">
          <h3 class="bacic">Biologically Safe</h3>
          <p class="pp"> the prevention of large-scale loss of biological integrity, focusing both on ecology and human
              health</p>

      </div>
      <div class="col">
          <img src="assets/44.png" width="180" ;height="180" alt="Placeholder Image">
          <h3 class="bacic">Biodiversity </h3>
          <p class="pp"> the variety of living species on Earth, including plants, animals, bacteria, and fungi. While
              Earth’s biodiversity is so rich </p>
      </div>
    </div>
</div> -->

<div class="corFeaturesContainer">
    <img src="assets/2_900x.png" alt="Oars Store Image" class="main-image">
    <div class="text-content">
        <div class="core-features">
            <h4>Core Features</h4>
        </div>
        <div class="store-heading">
            <h1 class="h1">What is Oars Store?</h1>
            <p class="extra-text">Cras mattis consectetur purus sit amet fermentum. Praesent vel scelerisque nisl consectetur et.</p>
        </div>
        <div class="flex-container">
            <div class="flex-item">
                <img src="assets/n1_180x.png" alt="Icon Image" class="icon">
                <div class="text-content">
                    <h3>Free Shipping</h3>
                    <p>With $100 or more orders. Go to Oars Store</p>
                </div>
            </div>
            <div class="flex-item">
                <img src="assets/n2_180x.png" alt="Icon Image" class="icon">
                <div class="text-content">
                    <h3>100% Organic Certified</h3>
                    <p>100% Organic Certified Food & Textiles</p>
                </div>
            </div>
            <div class="flex-item">
                <img src="assets/n3_180x.png" alt="Icon Image" class="icon">
                <div class="text-content">
                    <h3>Secure Payment</h3>
                    <p>Secure Confirmed</p>
                </div>
            </div>
            <div class="flex-item">
                <img src="assets/n4_180x.png" alt="Icon Image" class="icon">
                <div class="text-content">
                    <h3>Friendly Support</h3>
                    <p>Need help : +(12) 124 987 97</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="steps-container">
    <div class="step-container step1">
        <img src="assets/png1.png" alt="bg" class="bg">
        <div class="step-content">
            <img src="assets/png11.png" alt="bg">
            <h2 class="step-title">Step 01.</h2>
            <p class="step-content">
                Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </p>
        </div>
    </div>
    <div class="step-container step2">
        <img src="assets/png2.png" alt="bg" class="bg">
        <div class="step-content">
            <img src="assets/png22.png" alt="bg">
            <h2 class="step-title">Step 02.</h2>
            <p class="step-content">
                Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </p>
        </div>
    </div>
    <div class="step-container step3">
        <img src="assets/png3.png" alt="bg" class="bg">
        <div class="step-content">
            <img src="assets/png33.png" alt="bg">
            <h2 class="step-title">Step 03.</h2>
            <p class="step-content">
                Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </p>
        </div>
    </div>
    <div class="step-container step4">
        <img src="assets/png4.png" alt="bg" class="bg">
        <div class="step-content">
            <img src="assets/png44.png" alt="bg">
            <h2 class="step-title">Step 04.</h2>
            <p class="step-content">
                Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </p>
        </div>
    </div>
</div>

<div class="team">
    <div class="textContainer">
        <p class="meetTeam">Meet Our Team</p>
        <h1>Do You Know About Teams</h1>
        <p class="description">
            Cras mattis consectetur purus sit amet fermentum. 
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        </p>
    </div>
    <div class="imagesContainer">
        <div class="imgContainer">
            <div class="nada">
                <img src="assets/nada.jpg" alt="">
            </div>
            <div class="body">
                <h2>Nada Ahmed</h2>
                <p class="developer">FrontEnd Developer</p>
            </div>
        </div>    

        <div class="imgContainer">    
            <div class="menna">
                <img src="assets/menna.jpg" alt="">
            </div>
            <div class="body">
                <h2>MennatAllah Khaled </h2>
                <p class="developer">FrontEnd Developer</p>
            </div>
        </div>

        <div class="imgContainer">
            <div class="sohila">
                <img src="assets/sohila.jpg" alt="image1">
            </div>
            <div class="body">
                <h2>Sohila Ahmed</h2>
                <p class="developer">FrontEnd Developer</p>
            </div>
        </div>

        <div class="imgContainer">
            <div class="saja">
                <img src="assets/sajaMalek.jpg" alt="image1">
            </div>
            <div class="body">
                <h2>Saja Malek</h2>
                <p class="developer">FrontEnd Developer</p>
            </div>
        </div>

        <div class="imgContainer">
            <div class="omnia">
                <img src="assets/omnia.jpg" alt="image1">
            </div>
            <div class="body">
                <h2>Omnia Mahmoud</h2>
                <p class="developer">FrontEnd Developer</p>
            </div>
        </div>

        <div class="imgContainer">
            <div class="shrouk">
                <img src="assets/shrouk.jpg" alt="image1">
            </div>
            <div class="body">
                <h2>Shrouk Ali</h2>
                <p class="developer">FrontEnd Developer</p>
            </div>
        </div>
    </div>
</div>

<div class="container-section4">
    <div class="text-container">
        <div class="overlay">
            <h3>Deal Of The Day</h3>
            <h1>Oars Store Offer 50% Off</h1>
            <div class="text">
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
            </div>
            <button class="overlay-button">View More</button>
        </div>
    </div>
    <div class="image-container">
        <img src="https://cs-oars-1.myshopify.com/cdn/shop/files/3_26fa487d-c592-4f6d-afe4-e2037865db87_720x.png?v=1613680680" alt="Placeholder Image 1">
    </div>
</div>

<section class="newsletter">
    <div class="newsletter-container">
        <div class="newsletter-content">
            <h2>Subscribe Newsletter</h2>
        </div>
        <div class="newsletter-form">
            <input type="email" placeholder="Your email">
            <button type="submit">SUBSCRIBE</button>
        </div>
        <p class="newsletter-message"></p>
    </div>
</section>