<div class="home-news">
    <img src="assets/WhatsApp Image 2024-07-20 at 09.03.58_86012188.jpg" alt=" News-Image">
     <div class="news-text">
        <h3>Post Detail</h3>
        <p style=" color:  #91ad41; font-family: signature;  font-family: Playwrite NL, cursive; font-size: 15px;">Home / Smoothie / Seven herbs that lower blood pressure</p>
     </div>
</div>
<div class="blogs">
    <div class="blog-left">
       <div class="blog-one">
        <img src="https://cs-oars-2.myshopify.com/cdn/shop/articles/11.jpg?v=1526526512" alt="Seven herbs that lower blood pressure">
        <p style="padding-bottom: 10px;">By <span  style="color: #91ad41;">Oars Admin </span>Apr 18, 2018</p>
        <h2><a routerLink="/blogsection5">Seven herbs that lower blood pressure</a></h2>
       <b><p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit...</p></b>
    </div>
       <div class="blog-two">
        <p>Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    </div>
        <div class="blog-post">
            <img src="https://cdn.shopify.com/s/files/1/0022/4401/8235/files/blog1_large.jpg?v=1523602126" alt="Broad bean and goats' cheese bruschetta">
            <div class="sub-blog">
             <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. </p>
             <p>Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            </div>
         </div>  
         <div class="blog-two">
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper</p>
            <p>Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            <p style="padding-left: 60px; color:  #91ad41; "><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Integer posuere erat.</em></p>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper. 
                Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        </div>  
        <div class=" blog-button">
            <a href="https://facebook.com">  <button class="button-post btn1" style="padding-left: 10px; padding-right: 15px;">
            <i class="fab fa-facebook-f"></i>
            Facebook
         </button ></a>
         <a href="https://twitter.com">
              <button class="button-post btn2" style="padding-left: 10px; padding-right: 15px;" >
            <i class="fab fa-twitter"></i> 
           Twitter
         </button>
        </a>
        <a href="https://pinterest.com" style="text-align: center;">
             <button class="button-post btn3" style="padding-left: 10px; padding-right: 15px;">
            <i class="fab fa-pinterest"></i>
           Pinterest
         </button>
        </a>
        </div>  
     </div>
    <aside class="side">
        <div class="side-right">
            <h2 class="category-title" style=" font-family:streamster, cursive;">Category</h2>
        <ul class="category-blog">
            <li><a href="VEGETABLES.html"> Vegetables </a></li>
            <li><a href="FRUITS.html"> Fruits </a></li>
            <li><a href="SMOOTHIE.html"> Smoothie </a></li>
            <li><a href="MEAT.html"> Meats </a></li>
            <li><a href="vege.html"> Teas </a></li>
            <li><a href="CAKES.html"> Cakes </a></li>
            <li><a href="SMOOTHIE.html"> Juices </a></li>
            <li><a href="TOP-VIEWS.html"> Top View </a></li>
            <li><a href="BEST-SELLER.html"> Best Seller </a></li>
            <li><a href="FRUITS.html"> All Category </a></li>
        </ul>
        </div>
       <div class="side-right">
        <h2 style=" color:#91ad41; padding-top: 15px;  font-family:streamster, cursive;">Recent Posts</h2>
        <div class="blog-post1">
            <img src="https://cs-oars-2.myshopify.com/cdn/shop/articles/14.jpg?v=1526526705" alt="Broad bean and goats' cheese bruschetta" width="150px" height="150px">
            <div class="sub-blog1">
             <h4><a routerLink="/blogsection1">Broad bean and goats' cheese bruschetta</a></h4>
             <p>May 09, 2018</p>
            </div>
         </div>
         <div class="blog-post1">
            <img src="https://cs-oars-2.myshopify.com/cdn/shop/articles/12.jpg?v=1526526534" alt="Seven herbs that lower blood pressure" width="150px" height="150px">
            <div class="sub-blog1">
             <h4><a routerLink="/blogsection4">Seven herbs that lower blood pressure</a></h4>
             <p>May 09, 2018</p>
            </div>
         </div>
         <div class="blog-post1">
            <img src="https://cs-oars-2.myshopify.com/cdn/shop/articles/10.jpg?v=1526526284" alt="Broad bean and goats' cheese bruschetta" width="150px" height="150px">
            <div class="sub-blog1">
             <h4><a routerLink="/blogsection6">Cleansing the body of Parasites</a></h4>
             <p>May 09, 2018</p>
            </div>
         </div>
         <div class="blog-ads">
            <img src="//cs-oars-2.myshopify.com/cdn/shop/files/oar1-banner-ads_6af78583-89e2-4d35-9807-d11b94ec8b30_345x.png?v=1655701585" alt="ADS"  >
         </div>
       </div>
    </aside>
</div>
<section class="newsletter">
<div class="newsletter-container">
    <div class="newsletter-content">
        <h2>Subscribe Newsletter</h2>
    </div>
    <div class="newsletter-form">
        <input type="email" placeholder="Your email">
        <button type="submit">SUBSCRIBE</button>
    </div>
    <p class="newsletter-message"></p>
</div>
</section>