<section class="home">
  <div class="content">
      <div class="hero">Shop</div>
      <div class="subtitle"><a href="index.html">Home</a> </div>

  </div>
</section>
 <div class="container">
        <aside class="as">
       <h4 class="aside-title">
    <span>Categories</span>
    <!-- <svg class="svg-icon"><use xlink:href="#arrow-down"></use></svg> -->
       </h4>
       <div class="aside-content">
        <ul class="collection">
            <li>
        <a href="/collections/vegetables" class="link link--text list-menu__item list-menu__item--link">
          Vegetables
        </a>
      </li>
      <li>
        <a href="FRUITS.html" class="link link--text list-menu__item list-menu__item--link">
          Fruits
        </a>
      </li>
      <li>
        <a href="/collections/smoothie" class="link link--text list-menu__item list-menu__item--link">
          Smoothie
        </a>
      </li>
      <li>
        <a href="/collections/meats" class="link link--text list-menu__item list-menu__item--link">
          Meats
        </a>
      </li>
      <li>
        <a href="/collections/tea" class="link link--text list-menu__item list-menu__item--link">
          Teas
        </a>
      </li>
      <li>
        <a href="/collections/cakes" class="link link--text list-menu__item list-menu__item--link">
          Cakes
        </a>
      </li>
      <li>
        <a href="/collections/juices" class="link link--text list-menu__item list-menu__item--link">
          Juices
        </a>
      </li>
      <li>
        <a href="/collections/top-view" class="link link--text list-menu__item list-menu__item--link">
          Top View
        </a>
      </li>
      <li>
        <a href="https://cs-oars-1.myshopify.com/collections/best-seller" class="link link--text list-menu__item list-menu__item--link">
          Best Seller
        </a>
      </li>
      <li>
        <a href="/collections/new-arrivals" class="link link--text list-menu__item list-menu__item--link">
          New Arrivals
        </a>
      </li>
      <li>
        <a href="/collections" class="link link--text list-menu__item list-menu__item--link">
          All Category
        </a>
      </li>
    </ul>
    <div class="avi">
      <h2>Availability</h2>
      <label><input type="checkbox"id="In Stock"> In Stock</label>

      <label><input type="checkbox" id="Out Of Stock"> Out Of Stock</label>


  </div>
  <div class="type">
    <h2>Type</h2>
    <label><input type="checkbox"id="type1">|</label>

    <label><input type="checkbox"id="type2"> ||</label>


</div>
<div class="weight">
  <h2>weight</h2>
  <label><input type="checkbox"id="weight1">100gr</label>
  <label><input type="checkbox"id="weight2"> 500gr</label>
  <label><input type="checkbox"id="weight3"> 1000gr</label>


</div>
<div class="best-sale">
<h2>Best Sale</h2>
<div class="product-image">
    <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/13_2218adbc-4d24-4ede-a230-b8b9c276256e_540x.jpg?v=1524458267" alt="Product Image">
</div>
<div class="product-info">
  <a  class= "product-name" href="https://cs-oars-1.myshopify.com/products/aubergine">Fresh Tomatoes</a>

    <p class="product-price">$100.00 <span>$200.00</span></p>
</div>
<div class="product-image">
  <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/16_360x.jpg?v=1524458192" alt="Product Image">
</div>
<div class="product-info">
<a  class= "product-name" href="https://cs-oars-1.myshopify.com/products/copy-of-fresh-tomatoesgreen-peppercorn">Green Peppercorn</a>


  <p class="product-price">$100.00 <span>$200.00</span></p>
</div>
<div class="product-image">
<img src="https://cs-oars-1.myshopify.com/cdn/shop/products/19_5b0cad91-bf8a-4233-901a-77cc24b467c3_180x.jpg?v=1524458210" alt="Product Image">
</div>
<div class="product-info">
<a  class= "product-name" href="https://cs-oars-1.myshopify.com/products/fresh-tomatoes-1">Fresh Tomatoes</a>

<p class="product-price">$100.00 <span>$200.00</span></p>
</div>
</div>
<div class="ads">

</div>
  </div>

</aside>


<section class="products-section " id="productsSection">
  <div class="product" data-availability="In Stock" data-type="|" data-weight="100gr">
      <div class="images">
          <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/35_d526268b-97b0-4b1f-91d9-345b6a2ee941.jpg?v=1524457502" alt="Product 1" class="no-hover">

          <!-- <span class="spanHot sp">Hot</span> -->
          <!-- <span class="spanNew sp">New</span> -->
      </div>

      <p class="title">
        <a href="https://cs-oars-1.myshopify.com/collections/cakes/products/fresh-tomatoes">Fresh Tomatoes</a>
    </p>
      <p class="price">$10.00</p>


  </div>

  <div class="product "data-availability="Out Of Stock" data-type="||" data-weight="100gr">
      <div class="images">
          <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/5_77107f1a-939f-4036-a091-85092f521df7.jpg?v=1653364825" alt="Product 2" class="card-img-top hidden-image">
          <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/24.jpg?v=1585538106" alt="Product 2 Hover" class="card-img-top hover-image">
      </div>
      <p class="title">
        <a href="https://cs-oars-1.myshopify.com/products/aubergine-1">Green Peppercorn</a>
    </p>
      <p class="price">$10.00</p>
  </div>
  <div class="product"data-availability="Out Of Stock" data-type="||" data-weight="100gr">
      <div class="images">
        <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/1_252ebbaa-e006-420c-8b6c-d9c7a6fe59c2.jpg?v=1653364855" alt="Product 3" class="card-img-top hidden-image">
        <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/32_4233f95b-80e7-436f-a88e-bbb8fd059ea6.jpg?v=1653363704" alt="Product 3 Hover" class="card-img-top hover-image">
      </div>
      <p class="title">
        <a href="https://cs-oars-1.myshopify.com/products/copy-of-fresh-tomatoesgreen-peppercornm">Bacon Smoken</a>
    </p>
      <p class="price">$100.00</p>
  </div>

  <div class="product"data-availability="In Stock" data-type="||" data-weight="1000gr">
      <div class="images">
          <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/2.jpg?v=1524457918" alt="Product 4" class="no-hover">
      </div>
      <p class="title">
        <a href="https://cs-oars-1.myshopify.com/products/organic-mushroom-1m">Bacon Smoken</a>
    </p>
      <p class="price">$100.00</p>
  </div>
  <div class="product"data-availability="Out Of Stock" data-type="|" data-weight="500gr">
      <div class="images">
          <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/8_dae310c3-ac4b-432e-870a-dfb6028071ed.jpg?v=1653363749" alt="Product 5" class="card-img-top hidden-image">
          <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/23_ffcf5eda-6fe1-4570-bd94-56cc73c9684d.jpg?v=1653363749" alt="Product 5 Hover" class="card-img-top hover-image">
          <!-- <span class="span3 sp">-50%</span> -->
      </div>
      <p class="title">
        <a href="https://cs-oars-1.myshopify.com/products/pomegranate-juicem">Bacon Smoken</a>
    </p>
      <p class="price">$10.00 <del>$20.00</del></p>
  </div>
  <div class="product"data-availability="In Stock" data-type="||" data-weight="500gr">
      <div class="images">
          <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/3.jpg?v=1524457964" alt="Product 6" class="no-hover">
      </div>
      <p class="title">
        <a href="https://cs-oars-1.myshopify.com/products/copy-of-copy-of-copy-of-copy-of-copy-of-aubergine">Banana Blossoms</a>
    </p>
      <p class="price">$100.00</p>
  </div>
  <div class="product"data-availability="In Stock" data-type="||" data-weight="1000gr">
      <div class="images">
        <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/1.jpg?v=1524457361" alt="Product 7" class="card-img-top hidden-image">
        <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/32.jpg?v=1524457362" alt="Product 7 Hover" class="card-img-top hover-image">
          <!-- <span class="span3 sp">-50%</span>
          <span class="spanNew sp">New</span> -->
      </div>
      <p class="title">
        <a href="https://cs-oars-1.myshopify.com/products/banana-blossoms">Banana Blossoms</a>
    </p>
      <p class="price">$100.00 <del>$200.00</del></p>
  </div>
  <div class="product"data-availability="Out Of Stock" data-type="|" data-weight="500gr">
      <div class="images">
          <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/23.jpg?v=1524458220" alt="Product 8" class="no-hover">
          <!-- <span class="spanNewLast sp">New</span> -->
      </div>
      <p class="title">
        <a href="https://cs-oars-1.myshopify.com/products/banana-blossoms-1">Banana Blossoms</a>
    </p>
      <p class="price">$100.00</p>
  </div>
  <div class="product"data-availability="In Stock" data-type="||" data-weight="100gr">
    <div class="images">
        <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/5_4876a4d9-8767-4882-aeb5-4de5c174ab93.jpg?v=1653363701" alt="Product 8" class="no-hover">

    </div>
    <p class="title">
      <a href="https://cs-oars-1.myshopify.com/products/copy-of-copy-of-copy-of-copy-of-copy-of-auberginem">Bulk Grass-Fed Ground Beef</a>
  </p>
    <p class="price">$10.00<del>$200.00</del></p>
</div>
<div class="product"data-availability="Out Of Stock" data-type="|" data-weight="1000gr">
    <div class="images">
      <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/11_18194aa8-213a-4b2d-9fb1-6cf78c1248b2.jpg?v=1653363764" alt="Product 9" class="card-img-top hidden-image">
      <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/12_d523aae2-2d69-4d78-b87d-a3979b5eb88b.jpg?v=1653363764" alt="Product 9 Hover" class="card-img-top hover-image">
    </div>
    <p class="title">
      <a href="https://cs-oars-1.myshopify.com/products/purple-cabbage-2m">Bulk Grass-Fed Ground Beef</a>
  </p>
    <p class="price">$100.00</p>
</div>
<div class="product"data-availability="In Stock" data-type="||" data-weight="500gr">
  <div class="images">
      <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/25_9c6716e2-2151-4d8e-9836-9f003eb4902d.jpg?v=1653364821" alt="Product 10" class="card-img-top hidden-image">
      <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/26_e0bcd1ae-7fe3-4784-ad44-fc5923a3fae3.jpg?v=1653364821" alt="Product 10 Hover" class="card-img-top hover-image">
  </div>
  <p class="title">
    <a href="https://cs-oars-1.myshopify.com/products/banana-blossomsc">Cappuccino Ice Cream</a>
</p>
  <p class="price">$10.00</p>
</div>
<div class="product"data-availability="Out Of Stock" data-type="|" data-weight="500gr">
  <div class="images">
    <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/8_7fece4b9-9b08-4b4c-9fe6-e62b672c00e9.jpg?v=1653364832" alt="Product 11" class="card-img-top hidden-image">
    <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/19_3b9f4c3d-287a-4c50-bfde-51fe092258f6.jpg?v=1653364832" alt="Product 11 Hover" class="card-img-top hover-image">
  </div>
  <p class="title">
    <a href="https://cs-oars-1.myshopify.com/products/fresh-detox-blueberriesc">Cappuccino Ice Cream</a>
</p>
  <p class="price">$100.00</p>
</div>
<div class="product"data-availability="In Stock" data-type="||" data-weight="100gr">
<div class="images">
    <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/2_75b3e402-a9eb-4acc-b6f2-5457eba0e828.jpg?v=1653364828" alt="Product 12" class="no-hover">

</div>
<p class="title">
  <a href="https://cs-oars-1.myshopify.com/products/copy-of-fresh-tomatoesgreen-peppercornc">Colorful Popsicles Isolated</a>
</p>
<p class="price">$10.00</p>
</div>
<div class="product"data-availability="Out Of Stock" data-type="|" data-weight="1000gr">
<div class="images">
    <img src="https://cs-oars-1.myshopify.com/cdn/shop/products/4_4590961f-3705-45ed-822d-f34f1b143113.jpg?v=1653364840" alt="Product 13" class="no-hover">
</div>
<p class="title">
  <a href="https://cs-oars-1.myshopify.com/products/fresh-tomatoes-1c">Colorful Popsicles Isolated</a>
</p>
<p class="price">$100.00</p>
</div>
<div class="product" data-availability="In Stock" data-type="||" data-weight="500gr">
<div class="images">
<img src="https://cs-oars-1.myshopify.com/cdn/shop/products/30_fac6c985-c1ac-4153-9925-e2aca0faab3e.jpg?v=1653364859" alt="Product 14" class="card-img-top hidden-image">
<img src="https://cs-oars-1.myshopify.com/cdn/shop/products/29_cefa6a9c-a8e6-4fbf-8080-9ad1ca1e9dc0.jpg?v=1653364859" alt="Product 14 Hover" class="card-img-top hover-image">
</div>
<p class="title">
<a href="https://cs-oars-1.myshopify.com/products/organic-mushroomc">Colorful Popsicles Isolated</a>
</p>
<p class="price">$100.00</p>
</div>
<div class="product" data-availability="Out Of Stock" data-type="|" data-weight="100gr">
<div class="images">
<img src="https://cs-oars-1.myshopify.com/cdn/shop/products/21.jpg?v=1653363722" alt="Product 15" class="card-img-top hidden-image">
<img src="https://cs-oars-1.myshopify.com/cdn/shop/products/25_00b7e9b1-a3c6-403c-89cb-380ebad31984.jpg?v=1653363722" alt="Product 15 Hover" class="card-img-top hover-image">
</div>
<p class="title">
<a href="https://cs-oars-1.myshopify.com/products/green-detox-drinkm">Crab Sticks</a>
</p>
<p class="price">$100.00</p>
</div>
<div class="product"data-availability="In Stock" data-type="|" data-weight="1000gr">
<div class="images">
<img src="https://cs-oars-1.myshopify.com/cdn/shop/products/6_fc69c4dc-3d4c-4c83-9b1c-1a19ba562b65.jpg?v=1653363744" alt="Product 16" class="card-img-top hidden-image">
<img src="https://cs-oars-1.myshopify.com/cdn/shop/products/13_42f26826-e212-4a5a-85cd-426c8fbe1b54.jpg?v=1653363744" alt="Product 16 Hover" class="card-img-top hover-image">
</div>
<p class="title">
<a href="https://cs-oars-1.myshopify.com/products/osso-bucom">Crab Sticks</a>
</p>
<p class="price">$100.00</p>
</div>
<div class="product"data-availability="Out Of Stock" data-type="|" data-weight="500gr">
<div class="images">
<img src="https://cs-oars-1.myshopify.com/cdn/shop/products/Main_cumulus_olive.png?v=1656041302" alt="Product 17" class="card-img-top hidden-image">
<img src="https://cs-oars-1.myshopify.com/cdn/shop/products/cumulus_01.png?v=1656041506" alt="Product 17 Hover" class="card-img-top hover-image">
</div>
<p class="title">
<a href="https://cs-oars-1.myshopify.com/products/dance-bag-nylon">Dance Bag Nylon</a>
</p>
<p class="price">$100.00</p>
</div>
<div class="product"data-availability="In Stock" data-type="|" data-weight="100gr">
<div class="images">
<img src="https://cs-oars-1.myshopify.com/cdn/shop/products/7_9ae39d7c-e824-4dcf-9657-a5412cb36da0.jpg?v=1653278287" alt="Product 18" class="card-img-top hidden-image">
<img src="https://cs-oars-1.myshopify.com/cdn/shop/products/8_35075112-b028-4356-8b83-b509af0092e4.jpg?v=1653278287" alt="Product 18 Hover" class="card-img-top hover-image">
</div>
<p class="title">
<a href="https://cs-oars-1.myshopify.com/products/detox-for-couple">Detox For Couple</a>
</p>
<p class="price">$100.00</p>
</div>
<div class="product"data-availability="In Stock" data-type="|" data-weight="100gr">
<div class="images">
<img src="https://cs-oars-1.myshopify.com/cdn/shop/products/6.jpg?v=1653278293" alt="Product 19" class="card-img-top hidden-image">
<img src="https://cs-oars-1.myshopify.com/cdn/shop/products/13_22050bf3-e101-4e78-bc82-5b0482cdf684.jpg?v=1653278293" alt="Product 19 Hover" class="card-img-top hover-image">
</div>

<p class="title">
<a href="https://cs-oars-1.myshopify.com/products/detox-fresh-mango-juice">Detox Fresh Mango Juice</a>
</p>
<p class="price">$100.00</p>

</div>

</section>


