
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<header class="header">
    <nav>
       <div class="nav">
        <div class="logo">
            <img src="https://cs-oars-1.myshopify.com/cdn/shop/files/logo_0f17b895-5380-4e52-8844-1db7d4b17451_105x.png?v=1652151825" alt="logo">
        </div>
        <ul class="nav-links">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/shop">Shop layout  </a></li>
          <li><a routerLink="/collection">All Collections</a></li>
          <li><a routerLink="/aboutus">Pages</a></li>
          <li><a routerLink="/blogs">Blogs</a></li>
          <li><a routerLink="/signup">Sign Up</a></li>
          <li>
             <form action="">
            <input type="text" class="search-input" id="search-input" placeholder="Search">
          </form></li>
          <li><a href=""><i class="fas fa-search"></i></a></li>
        </ul>
       </div>
      </nav>
</header>

<router-outlet/>

<footer>
    <div class="footer-column f1 ">
        <h4>Contact Our Farm</h4>
        <p  class="pleft">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <br>
        <div class="footer-column1">
          <a href="#"><i class="fa-solid fa-location-dot"></i></a>
          <p> PO Box 16122 Collins Street West</p>
         </div>
         <div class="footer-column1">
          <a href="#"><i class="fa-solid fa-phone"></i></a>
          <p>111-222-3333</p>
         </div>
         <div class="footer-column1">
          <a href="#"><i class="fa-solid fa-envelope"></i></a>
          <p> support &#64; kalathemes.com</p>
    </div>
    </div>
    <div class="footer-column f2 ">
        <h4>Follow Me</h4>
        <ul class="social-links">
          <li>
            <i class="fab fa-twitter"></i>
            <a href="https://twitter.com">Twitter</a>
        </li>
           <li>
            <i class="fab fa-facebook-f"></i>
            <a href="https://facebook.com">Facebook</a>
           </li>
           <li>
            <i class="fab fa-instagram"></i>
            <a href="http://instagram.com">Instagram</a>
           </li> 
           <li>
            <i class="fab fa-tiktok"></i>
            <a href="https://tiktok.com">TikTok</a>
           </li>
          <li>
            <i class="fab fa-youtube"></i>
            <a href="https://www.youtube.com">YouTube</a>
          </li>
        </ul>
    </div>
    <div class="footer-column f3 ">
        <h4>Useful Links</h4>
        <ul class="social-links link1">
            <li><a routerLink="/aboutus" class="element">About Us</a></li>
            <li><a routerLink="/shipping" class="element">Shipping Policy</a></li>
            <li><a routerLink="/terms" class="element">Terms Of Service</a></li>
            <li><a routerLink="/privacy" class="element">Privacy Policy</a></li>
            <li><a routerLink="/contact" class="element">Contact Us</a></li>
        </ul>
       
    </div>
    <div class="footer-column f4 ">
   <div class="sub-f4">
    <h4 style="text-align: center; margin: auto; font-size: 29px;"><span style="color: #91ad41;">O</span>ars<span style="color: #91ad41; font-size: 40px;">.</span></h4>
    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempusporttitor nullam quis.</p>
   </div>
      </div>
</footer>
<div class="last-div">
Copyright &copy; 2024 <span style="font-weight: bold;">OARS.</span> All Rights Reserved
</div>
