@keyframes slideInTop {
    from { transform: translateY(-100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.policy{
    font-family: Arial, Helvetica, sans-serif;
    color: #8b8b99;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    text-align: left;
    margin-top: 120px;
    line-height: 30px;
    animation: slideInTop 2s ease-in-out;
}
.shipped{
    color: #000;
    text-align: center;
    font-family:streamster, cursive;
    
}
.one{
    color: #000;
}
.primary{
    color: #000;
    font-family:streamster, cursive;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media screen and (max-width: 700px){
.policy{
    flex-direction: column;
}
body{
    text-align: center;
}
}
.newsletter {
    width: 100%;
    height: 175px;
    background-color: #f5ebd8;
    background-image: url('https://cs-oars-1.myshopify.com/cdn/shop/files/bg1_7dc39a5c-bd28-4d17-bfb7-3633b8edadb2.png?v=1613680475'), url('https://cs-oars-1.myshopify.com/cdn/shop/files/bg2.png?v=1613680475');
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    padding: 20px 0;
    align-items: center;
    animation: slideInTop 1s ease-in-out;
}

.newsletter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    place-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 50px;
    animation: slideInTop 1.5s ease-in-out;
}

.newsletter-content h2 {
    font-size: 36px;
    color: #333;
    margin: 0;
    text-align: center;
    animation: slideInTop 2s ease-in-out;
}

.newsletter-form {
    display: flex;
    align-items: center;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
}

.newsletter-form button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #91ad41;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    animation: slideInTop 2.5s ease-in-out;
}

.newsletter-form button:hover {
    background-color: #7e9934;
}

.newsletter-message {
    color: #4CAF50;
    margin-top: 10px;
    display: none; /* Hide by default */
}

@media (max-width: 768px) {
    .newsletter-content h2 {
        font-size: 24px;
    }

    .newsletter-form input[type="email"] {
        width: 100%;
    }

    .newsletter-form button {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .newsletter-content h2 {
        font-size: 24px;
    }

    .newsletter-form input[type="email"] {
        width: 100%;
    }

    .newsletter-form button {
        width: 100%;
        margin-top: 10px;
    }
}



