<div class="image-header" style="background-image: url('assets/bkg-breadcrumbs.png');">
    <div class="text-overlay">
        <div class="title">List Collection</div>
        <div class="subtitle"><a routerLink="index.html">Home</a> / List Collection</div>
    </div>
</div>
<div class="container">
    <div class="categories">
        <div class="category">
            <img src="assets/25_ae1adc6e-90d7-4ca0-beb0-f247e8f656de.jpg" alt="Category 1 Image">
            <div class="category-info">
                <h4>#TOP-VIEWS</h4>
                <p>10 Products</p>
                <a routerLink="/cake" class="view-more-button">View More</a>
            </div>
        </div>
        <div class="category">
            <img src="assets/13_2218adbc-4d24-4ede-a230-b8b9c276256e.jpg" alt="Category 2 Image">
            <div class="category-info">
                <h4>#BEST SELLER</h4>
                <p>15 Products</p>
                <a routerLink="/cake" class="view-more-button">View More</a>
            </div>
        </div>
        <div class="category">
            <img src="assets/34.jpg" alt="Category 3 Image">
            <div class="category-info">
                <h4>#CAKES</h4>
                <p>10 Products</p>
                <a routerLink="/cake" class="view-more-button">View More</a>
            </div>
        </div>
        <div class="category">
            <img src="assets/8_7fece4b9-9b08-4b4c-9fe6-e62b672c00e9.jpg" alt="Category 4 Image" class="extra-margin">
            <div class="category-info">
                <h4>#CREAM</h4>
                <p>10 Products</p>
                <a routerLink="/cake" class="view-more-button">View More</a>
            </div>
        </div>
        <div class="category">
            <img src="assets/16.jpg" alt="Category 5 Image">
            <div class="category-info">
                <h4>#FRUITS</h4>
                <p>10 products</p>
                <a routerLink="/cake" class="view-more-button">View More</a>
            </div>
        </div>
        <div class="category">
            <img src="assets/6.jpg" alt="Category 6 Image">
            <div class="category-info">
                <h4>#SMOOTHIE</h4>
                <p>10 Products</p>
                <a routerLink="/cake" class="view-more-button">View More</a>
            </div>
        </div>
        <div class="category">
            <img src="assets/20_720x.jpg" alt="Category 7 Image">
            <div class="category-info">
                <h4>#VEGETABLES</h4>
                <p>10 Products</p>
                <a routerLink="VEGETABLES.html" class="view-more-button">View More</a>
            </div>
        </div>
        <div class="category">
            <img src="assets/25_ae1adc6e-90d7-4ca0-beb0-f247e8f656de.jpg" alt="Category 8 Image">
            <div class="category-info">
                <h4>#MEAT</h4>
                <p>10 Products</p>
                <a routerLink="/cake" class="view-more-button">View More</a>
            </div>
        </div>
    </div>
</div>
<section class="newsletter">
    <div class="newsletter-container">
        <div class="newsletter-content">
            <h2>Subscribe Newsletter</h2>
        </div>
        <div class="newsletter-form">
            <input type="email" placeholder="Your email">
            <button type="submit">SUBSCRIBE</button>
        </div>
        <p class="newsletter-message"></p>
    </div>
</section>

<router-outlet/>
