<section class="hero">
    <h1>Products</h1>
    <p>Home / Auberginp</p>
</section>


<div class="container1">
    <aside>

        <div class="row">
            <div class="side1">

                <h2 style="color: #91ad41;">Categories</h2>
                <br>
                <a class="aaa" href="VEGETABLES.html">Vegetables</a>
                <br>
                <a class="aaa" href="FRUITS.html">Fruits</a>
                <br>
                <a class="aaa" href="SMOOTHIE.html">Smoothie</a>
                <br>
                <a class="aaa" href="MEAT.html">Meats</a>
                <br>
                <a class="aaa" href="vege.html">Teas</a>
                <br>
                <a class="aaa" href="CAKES.html">Cakes</a>
                <br>
                <a class="aaa" href="SMOOTHIE.html">Juices</a>
                <br>
                <a class="aaa" href="TOP-VIEWS.html">Top View</a>
                <br>
                <a class="aaa" href="BEST-SELLER.html">Best Seller</a>
                <br><br>
                <p class="line"></p>

            </div>
</div>


            <h2 style="color: #91ad41;">Best Sale</h2>
            <br>
            <div class="image-container">
                <img src="assets/tomato.png" alt="AD">
                <div class="dd">
                    <a href="https://cs-oars-1.myshopify.com/products/purple-cabbage-2">Tomatoes</a>
                    <small class="text">$100.00</small>
                    <br>
                    <small><del style="color: rgb(140, 140, 140); line-height: 0.8;"> $200.00</del></small>

                </div>
            </div>

            <br>
            <div class="image-container2">
                <img src="assets/Green Peppercorn.PNG" alt="AD">
                <div class="dd">
                    <a href="https://cs-oars-1.myshopify.com/products/copy-of-fresh-tomatoesgreen-peppercorn">
                        Peppercorn</a>
                    <small class="text">$100.00</small>
                    <br>
                    <small><del style="color: rgb(140, 140, 140); line-height: 0.8;"> $200.00</del></small>

                </div>
            </div>

            <br>
            <div class="image-container3">
                <img src="assets/Pomegranate Juice.png" alt="AD">
                <div class="dd">
                    <a href="https://cs-oars-1.myshopify.com/collections/fruits/products/pomegranate-juice-1">Pomegranate
                    </a>
                    <small class="text">$100.00</small>
                </div>
            </div>
            <!-- <img class="grape" width="150" src="img/grape2.jpg" alt="AD"> -->

            <p class="line"></p>
            <div>
                <div class="wallpaper">
                    <div class="grape">
                        <a href=""> <img class="immg" width="150" src="assets/grape2.jpg" alt="AD"></a>
                        <div class="contaaa">
                            <h1> YOUR ADS HERE </h1>

                        </div>
                    </div>
                </div>
            </div>

    </aside>


 
    
        <section class="product-details">

            <div class="product">
                <img src="assets/Aubergine.PNG" alt="Aubergine">

                <div class="product-info">
                    <br><br>
                    <h1>Aubergine</h1>
                    <p class="price"><b>$300.00</b></p>

                    <div class="Write">
                        <p>Write a Review</p>
                    </div>
                    <p>Earn 15 Reward Points. Learn More...</p>
                    <p>Weight: <span id="selected-weight"></span></p>
                    <div class="weight-options">
                        <button onclick="updateWeight('100gr')">100gr</button>
                        <button onclick="updateWeight('500gr')">500gr</button>
                        <button onclick="updateWeight('1000gr')">1000gr</button>
                    </div>
                    <p>type: <span id="selected-type"></span></p>
                    <div class="type-options">
                        <button onclick="updatetype('|')">|</button>
                        <button onclick="updatetype('||')">||</button>
                        <button onclick="updatetype('|||')">|||</button>
                    </div>

                    <div class="quantity">

                    </div>
                    <button class="add-to-cart">Add to cart</button>
                    <button class="add-to-wishlist">Add to wishlist</button>
                    <br>
                    <button class="buy-it-now">Buy it now</button>
                    <p class="checkbox"><input type="checkbox" name="terms"> I agree with the <a class="link"
                            href="#">Terms &amp; conditions</a></p>
                    <br>
                    <p class="span">Order in the next <span class="timer">00d 00h 00m 00s</span> to get it <span
                            class="timer"> Tuesday 23/1/2024</span>.</p>
                    <a style="color: black;" href="#">Ask us any question</a>
                    <div class="details">
                        <br>
                      <h5 style="color: rgb(147, 147, 147);">DETAILS</h5>
                        <ul class="product-details">
                            <li>SKU: CA7896 </li>
                            <li>Type: Hoodies Wear</li>
                            <li>Brand: Vendor 2</li>
                            <li>Availability: In Stock</li>
                        </ul>
                    </div>
            </div>
            </div>
          </section>
       

        <div class="DESCRIPTION">
            <h1 style="color: black;">DESCRIPTION</h1>
            <br>
            <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id
                elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                .</p>
            <p>Aenean sollicitudin Nam nec tellus a odio tincidunt auctor a ornare odio Aenean sollicitudin, lorem
                quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id
                elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. .</p>
            <ul class="product-details">
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
                <li>Vestibulum auctor dapibus neque.</li>
                <li>Nunc dignissim risus id metus.</li>
                <li>Cras ornare tristique elit.</li>
                <li>Vivamus vestibulum ntulla nec ante.</li>
                <li>Praesent placerat risus quis eros.</li>
                <li>Fusce pellentesque suscipit nibh.</li>
                <li>Integer vitae libero ac risus egestas placerat.</li>
                <li>Vestibulum commodo felis quis tortor.</li>
                <li>Ut aliquam sollicitudin leo.</li>
                <li>Cras iaculis ultricies nulla.</li>
                <li>Donec quis dui at dolor tempor interdum.</li>
            </ul>
        </div>
        
        <h1 style="margin-left: 30px; margin-top: 50px;" >YOU MAY ALSO LIKE</h1>

        <section class="products-section ">

            <div class="products">
                <div class="assets">
                    <img width="200px"
                        src="https://cs-oars-1.myshopify.com/cdn/shop/products/30_fac6c985-c1ac-4153-9925-e2aca0faab3e.jpg?v=1653364859"
                        alt="">
                    <span class="spanHot sp">New</span>

                </div>
                <p class="title">
                    <a
                        href="https://cs-oars-1.myshopify.com/products/copy-of-copy-of-copy-of-copy-of-copy-of-aubergine">Colorful
                        Popsicles Isolated
                    </a>
                </p>
                <p class="price">$200.00</p>
                
            </div>
            <div class="products">
                
                <div class="assets">
                    <img width="200px" src="https://cs-oars-1.myshopify.com/cdn/shop/products/3.jpg?v=1524457964"
                        alt="Product 6" class="no-hover">
                </div>
                <p class="title">
                    <a
                        href="https://cs-oars-1.myshopify.com/products/copy-of-copy-of-copy-of-copy-of-copy-of-aubergine">Banana
                        Blossoms</a>
                </p>
                <p class="price">$100.00</p>
                <small><del style="color: rgb(140, 140, 140); line-height: 0.8;"> $200.00</del></small>
<br>
            </div>
            <div class="products">
                <div class="assets">
                    <img width="200px"
                        src="https://cs-oars-1.myshopify.com/cdn/shop/products/6_8ddad5b7-af94-43a1-ac70-06499a7b5680.jpg?v=1653364865"
                        alt="Product 6" class="no-hover">
                </div>
                <p class="title">
                    <a
                        href="https://cs-oars-1.myshopify.com/products/copy-of-copy-of-copy-of-copy-of-copy-of-aubergine">Organic
                        Mushroom
                    </a>
                </p>
                <p class="price">$100.00</p>
            </div>
            <div class="products">
                <div class="assets">
                    <img width="200px"
                        src="https://cs-oars-1.myshopify.com/cdn/shop/products/1_252ebbaa-e006-420c-8b6c-d9c7a6fe59c2.jpg?v=1653364855"
                        alt="Product 6" class="no-hover">
                </div>
                <p class="title">
                    <a
                        href="https://cs-oars-1.myshopify.com/products/copy-of-copy-of-copy-of-copy-of-copy-of-aubergine">
                        Whipped Cream</a>
                </p>
                <p class="price">$100.00</p>
            </div>



        </section>



<section class="newsletter">
    <div class="newsletter-container">
        <div class="newsletter-content">
            <h2>Subscribe Newsletter</h2>
        </div>
        <div class="newsletter-form">
            <input type="email" placeholder="Your email">
            <button type="submit">SUBSCRIBE</button>
        </div>
        <p class="newsletter-message"></p>
    </div>
  </section>
